body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 400vh;
}
.nav-bar {
  width: 1080px;
  margin: 16px auto;
  display: flex;
  gap: 20px;
  text-align: center;
}

.logo {
  margin-top: 10px;
}

.search-bar {
  width: 600px;
  padding: 15px 60px;
  border: 1px solid rgb(190, 187, 187);
  border-radius: 10px;
  box-shadow: 2px 2px 3px grey;
  align-items: center;
  justify-content: space-around;
  display: flex;
  color: grey;
}

.utility-btn {
  padding: 10px 10px;
  border: none;
  background-color: white;
  font-size: 18px;
  color: rgb(92, 89, 89);
}

.paths {
  color: grey;
  width: 1080px;
  margin: 16px auto;
}

.dashboard {
  color: white;
  /* position: sticky;
  top: 0; */
  background-color: rgb(255, 254, 254);
}

.dashboard-menu {
  display: flex;
  margin: 16px auto;
  width: 1080px;
}

.menu {
  margin: 0px 8px;
  padding: 10px;
  font-size: 30px;
  white-space: 10px;
  color: grey;
}

.menu:hover {
  color: rgb(236, 61, 90);
  font-weight: 700;
  border-bottom: 3px solid rgb(236, 61, 90);
}

.dining-img {
  height: 50px;
  padding: 5px;
  background-color: rgb(236, 231, 231);
  border-radius: 50%;
}
.scooter-img {
  padding: 5px;
  height: 50px;
  background-color: rgb(236, 231, 231);
  border-radius: 50%;
}
.mug-img {
  padding: 5px;
  height: 50px;
  background-color: rgb(236, 231, 231);
  border-radius: 50%;
}

.collection-area {
  height: 450px;
  background-color: rgb(243, 240, 240);
  margin-top: -17px;
}

.collection {
  margin: 16px auto;
  width: 1080px;
}

.heading-collection {
  padding: 5px;
  font-size: 18px;
}

.collection-content {
  display: flex;
  justify-content: space-around;
  font-size: 18px;
  color: gray;
  margin-left: 0px;
}

.collection-link {
  text-decoration: none;
  font-size: 16px;
  color: rgb(243, 96, 120);
  margin-left: 200px;
}

.collection-cards {
  margin: 10px;
  display: flex;
  gap: 10px;
}

.card {
  width: 280px;
  height: 300px;
  position: relative;
}

.card-img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}

.card-info {
  color: rgb(241, 239, 239);
  font-weight: 700;
  position: absolute;
  bottom: 15px;
  left: 10px;
  letter-spacing: 1px;
}

.badges {
  margin: 16px auto;
  width: 1080px;
  padding-left: 20px;
}

.badge-button {
  padding: 8px 18px;
  color: grey;
  background-color: white;
  border-radius: 10px;
  border: 0.5px solid rgb(184, 180, 180);
  font-size: 16px;
}

.banner {
  margin: 16px auto;
  width: 1080px;
}

.banner-img {
  margin-top: 10px;
  width: 100%;
}

.restaurants-collection {
  margin: 16px auto;
  width: 1080px;
}

.restaurants-heading {
  font-weight: 450;
  font-size: 34px;
}
.restaurant-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.hotel-card {
  width: 330px;
  height: auto;
  padding: 10px;
  margin-top: 30px;
  line-height: -15px;
}

.hotel-card:hover {
  width: 330px;
  height: 320px;
  border: 1px solid rgb(224, 218, 218);
  box-shadow: 3px 3px 3px rgb(224, 221, 221);
  border-radius: 10px;
  padding: 10px;
  margin-top: 30px;
  line-height: -15px;
}

.hotel-banner {
  position: relative;
}

.hotel-card-img {
  width: 100%;
  border-radius: 10px;
}

.discount {
  color: #dba016;
  font-weight: 700;
  background-color: rgb(43, 42, 42);
  padding-left: 8px;
  padding-right: 20px;
  opacity: 0.9px;
  box-shadow: 10px 10px 60px rgb(82, 81, 81);
  position: absolute;
  left: 0;
  bottom: 10px;
}

.promoted {
  position: absolute;
  left: 5px;
  top: 5px;
  background-color: rgb(102, 100, 100);
  color: rgb(194, 192, 192);
  padding: 0px 5px;
  border-radius: 5px;
  font-size: 10px;
}

.hotel-heading {
  margin-top: 2px;
  display: flex;
  font-weight: 500;
  font-size: 18px;
  color: rgb(46, 44, 44);
  justify-content: space-between;
}

.rating {
  background-color: green;
  color: white;
  font-weight: 600;
  font-size: 14px;
  padding: 2px 4px;
  border-radius: 5px;
}

.sub-heading {
  display: flex;
  justify-content: space-between;
  color: rgb(141, 139, 139);
}

.sub-heading-2 {
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  color: rgb(175, 174, 174);
  border-bottom: 1px solid rgb(223, 219, 219);
  padding-bottom: 10px;
}

.distance {
  color: rgb(65, 62, 62);
}

.hotel-card-footer {
  margin-top: 10px;
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: 15px;
  line-height: 15px;
  color: rgb(145, 143, 143);
}

.max-safety {
  height: 20px;
}

.footer {
  background-color: rgb(247, 247, 247);
  height: 450px;
}

.footer-heading {
  display: flex;
  justify-content: space-between;
  margin: 16px auto;
  width: 1080px;
  align-items: center;
}

.menu-btn {
  margin-top: 25px;
  padding: 15px 20px;
  margin-left: 10px;
  border: 1px solid rgb(219, 215, 215);
  border-radius: 10px;
  font-size: 18px;
  font-weight: 700;
}

.footer-card-collection {
  display: flex;
  justify-content: space-between;
  margin: 16px auto;
  width: 1080px;
}

.card-section-heading {
  margin-bottom: 5px;
  color: black;
  letter-spacing: 3px;
}

.card-section-sub-heading {
  color: rgb(133, 133, 133);
  line-height: 30px;
}

.footer-note {
  margin: 16px auto;
  width: 1080px;
  color: grey;
  font-size: 14px;
}
